<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
package="com.example.sqlitesis21b">

<application
    android:allowBackup="true"
    android:icon="@drawable/perfil"
    android:label="christian hernandez"
    android:roundIcon="@drawable/perfil"
    android:supportsRtl="true"
    android:theme="@style/AppTheme">
    <activity android:name=".ConsultaSpinner"></activity>
    <activity
        android:name=".MainActivity"
        android:label="Alexander Diaz"
        android:theme="@style/AppTheme.NoActionBar">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
</application>

</manifest>